
:root{
    --primary-color:#da4500;
    --secondary-color:#0a6d1a;
    --white:#ffffff;
}

.kz-bg-primary{
    background-color: var(--white);
    /* box-shadow: 5px 3px 3px #f1f0f0,-5px -3px 3px #f1f0f0; */
}
.kz-text-color{color:var(--primary-color)}